:root {

    /* ======================
       Brand Colors
    ====================== */

    --bg-primary: #050816;
    --bg-secondary: #0B1220;

    --text-primary: #F5F6F8;
    --text-secondary: #8992A6;


    /* Accent */

    --accent-primary: #00D4FF;
    --accent-success: #3DDC97;
    --accent-danger: #C13B3B;


    /* ======================
       Typography
    ====================== */

    --font-display: "Space Grotesk", sans-serif;
    --font-body: "IBM Plex Sans", sans-serif;
    --font-mono: "JetBrains Mono", monospace;


    /* ======================
       Spacing System
    ====================== */

    --space-xs: 4px;
    --space-sm: 8px;
    --space-md: 16px;
    --space-lg: 24px;
    --space-xl: 48px;
    --space-2xl: 80px;


    /* ======================
       Border Radius
    ====================== */

    --radius-sm:4px;
    --radius-md:8px;
    --radius-lg:16px;


    /* ======================
       Layout
    ====================== */

    --container-width:1200px;


    /* ======================
       Effects
    ====================== */

    --shadow-sm:
    0 4px 12px rgba(0,0,0,0.15);


    --shadow-lg:
    0 20px 50px rgba(0,0,0,0.35);

}