.navbar {
    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:20px 40px;

    background:var(--color-ink);
}


.navbar-logo {
    font-family:var(--font-display);
    font-size:24px;
    font-weight:700;

    color:var(--color-paper);
}


.navbar-links {

    display:flex;
    gap:24px;

    list-style:none;
}


.navbar-links a {

    text-decoration:none;

    color:var(--color-paper);

    font-family:var(--font-body);

    transition:0.3s;
}


.navbar-links a:hover {

    color:var(--color-cyan);

}